@if (node) {
  <div class="tree__container">
    <div class="tree__node content" [style.background-color]="node.is_deleted ? '#c1c1c1' : ''">
      <div class="content__id">ID {{node.id}}</div>
      <div class="content__title">{{ node.title}}</div>
      @if (node.children?.length) {
        <div class="content__count-node">({{ node.children?.length }})</div>
      }
      @if (isShowButton) {
        <button class="content__btn" (click)="handlerClickNodeBtn(node.id, treeIndex)">{{ nameButton }}</button>
      }

    </div>
    @if (node.children?.length) {
      <div class="content__arrow" >{{ isExpanded ? '↑' : '↓' }}</div>
    }
  </div>

  @if (isExpanded) {
    <div class="children" [style.margin-left]="marginLeftValueDefault * indexOffsetNode + 'px'">
      @for (child of node.children; track child.id; let i = $index;) {
        <app-node
          [node]="child"
          [indexOffsetNode]="i + 1"
          [marginLeftValueDefault]="marginLeftValueDefault"
          [treeIndex]="treeIndex"
          [isExpanded]="isExpanded"
          [handlerClickNodeBtn]="handlerClickNodeBtn"
          [nameButton]="nameButton"
        ></app-node>
      }
    </div>
  }
}
